<library path="rqt_plugin">
  <class name="WaypointPanel"
         type="rqt_plugin.waypoint_panel.WaypointPanel"
         base_class_type="rqt_gui_py::Plugin">
    <description>YOLO data collector waypoint panel</description>
    <qtgui>
      <group>
        <label>Vision</label>
        <icon type="theme">folder</icon>
        <statustip>Vision plugins</statustip>
      </group>
      <label>Waypoint Panel</label>
      <icon type="theme">camera-photo</icon>
      <statustip>YOLO data collector waypoint panel</statustip>
    </qtgui>
  </class>
</library>
